@CHARSET "ISO-8859-1";
/**
 *  */

body {
	margin: 8px;
	width: calc(100vw - 16px);
	height: calc(100vh - 16px);
	display: flex;
	flex-direction: column;
}

div.mdaServiceHeader
{
	position: relative;
	display: inline-flex;
	float: none;
	width: 100%;
	height: 58px;
	color: #666;
	margin: 0px 0px 0px 0px;
	background-color: white;
	border-bottom: 4px solid #da0505;
	font-family: sans-serif;
}

div.mdaServiceHeaderLogo
{
	left: 0px;
	display: inline-block;
	width: auto;
    padding: 0px 30px 0px 0px !important;
}

div.mdaServiceHeaderLogo img
{
	height: 54px;
}

div.paneHeader {
	display: flex;
	width: 100%;
	background-color: #cccccc;
	font-family: sans-serif;
	font-weight: bold;
	margin: 0px 0px 4px 0px;
	padding: 5px 5px 0px 5px;
}

div.paneHeader.activePane {
	/* background-color: #ccccff; */
}

div.paneTitle {
	margin: 2px;
	display: inline-block;
	flex-grow: 1;
	max-width: calc(100% - 27px);
}

div.icon_group {
	display: inline-block;
	vertical-align: top;
	align-items: end;
	margin-right: 5px;
}

div.icon_group.client_icons {
	flex-grow: 5;
}

span.tdTop {
	display: inline-block;
}

div#bottom_buttons span.tdTop img {
	margin-top: 3px;
}

div.collapsed img.gearIcon {
	display: '';
}

div.collapsed div.icon_group.client_icons {
	display: none;
}

div.container {
	position: relative;
	display: flex;
	margin: 0px;
}

div.vertical.container {
	flex-direction: column;
}

div.pane {
	position: relative;
	overflow: hidden;
}

div.pane canvas {
	position: absolute;
}

div#container{
	overflow: hidden;
	display: flex;
	flex-grow: 1;
	border-bottom: 1px solid white;
}

#footer {
	height: 1px;
	background-color: white;
}


.resizerHelper {
    position: relative;
    background-color: #666666;
    z-index: 99;
}

.resizerHelperRight {
    height: calc(100% - 10px);
    width: 5px;
    border-left: 1px solid rgb(181, 188, 199);
    border-right: 1px solid rgb(181, 188, 199);
    /* Also alter verticalDividerMargins if you modify margin-left or margin-right. */
    margin-left:10px;
    margin-right:10px;
    cursor: ew-resize;
}

.resizerHelperBottom {
    height: 5px;
    width:100%;
    border-top: 1px solid rgb(181, 188, 199);
    border-bottom: 1px solid rgb(181, 188, 199);
    /* Also alter horizontalDividerMargins if you modify margin-top or margin-bottom. */
    margin-top:10px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    cursor: ns-resize;
}

.resizerHelper:hover {
     background-color: LightBlue;
}

.resizerSplitterHorizontal {
    position: absolute;
    top: 30%;
    bottom: 30%;
    right: 48%;
    left: 48%;
    background-color: white;
}

.resizerSplitterVertical {
    position: absolute;
    top: 48%;
    bottom: 48%;
    right: 30%;
    left: 30%;
    background-color: white;
}

#burgerMenuPanel {
    position:absolute;
	width: 275px;
    right: 0px; 
	z-index: 10000;
	background-color: #FFFFFF; 
	border-left: 1px solid gray; 
	border-bottom: 1px solid gray; 
	border-top: 1px solid gray; 
}

.menuPanel {
	position:absolute;
	width: fit-content;
	width: -moz-fit-content;
	min-width: 140px;
	border-radius: 10px;
	z-index: 10000;
	background-color: #FFFFFF;
	border: 1px solid gray;
	margin-top: 1px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.paneHeader img {
	padding: 1px;
}

.menuHeader {
	padding: 1px 10px 1px 10px;
	background-color: #ccccff;
	font-variant-caps: small-caps;
}

.menuItem {
	padding: 1px 10px 1px 10px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.menuItem.disabled {
	color: grey;
}

.menuItemBorder {
	border-bottom: 1px solid gray; 
	padding: 0px 5px 5px 10px;
}

.menuItemTop {
	padding: 5px 10px 1px 10px;
}

.menuItem:hover {
     background-color: LightGray;
}

.menuItem.disabled:hover {
     background-color: WhiteSmoke;
}

.menuItem img {
	vertical-align: middle;
	margin-right: 1em;
}

.gearPanel {
	position: absolute;
	border-radius: 10px;
	z-index: 10000;
	background-color: #FFFFFF;
	border: 1px solid gray;
	margin-top: 1px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0.5em;
	background-color: #f7f7f7;
}

.optionsBox {
	display: grid;
	margin-bottom: 3em;
	grid-template-columns: [labels-start] auto [labels-end content-start] auto [ contents-end ];
	grid-row-gap: 0.4em;
	grid-column-gap: 0.2em;
}

.optionsBox .nodeSelector,
.optionsBox .userLabel,
.optionsBox .rangeSelector,
.optionsBox .discreteSelector,
.optionsBox input,
.optionsBox select {
	grid-column-start: contents;
}

.optionsBox .leftLabel {
	grid-column-start: labels;
}

.optionsBox .grouper {
	display: contents;
}

.gearPanel .buttonBox {
	display: flex;
	margin-bottom: 1em;
	margin-right: 1em;
}

.gearPanel .fill {
	flex: 1 1;
}

.gearPanel .buttonBox img {
	margin-left: 1em;
}

.gearPanel div {
	margin-top: 1em;
	margin-left: 0.5em;
}

.gearPanel div .leftLabel::after {
	content: ":";
}

.gearPanel div.rangeSelector,
.gearPanel div.discreteSelector,
.gearPanel div.userLabel {
	margin: 0;
	font-size: 0.7rem;
}

.gearPanel div.nodeSelector {
	margin: 0.2em 0 0.5em 0;
	font-size: 0.7rem;
}


span.button {
	padding: 0.25em 0.5em;
	background: linear-gradient(0deg, #2a447f, #447afd);
	color: white;
	border-radius: 1em;
	font-weight: bold;
	font-size: 0.8rem;
	margin-left: 1em;
	cursor: pointer;
}
span.button.positive {
	background: linear-gradient(0deg, #285013, #37741c);
}
span.button.negative {
	background: linear-gradient(0deg, #6b0000, #cc0000);
}


.gearPanel div.userLabel .leftLabel::after,
.gearPanel div.rangeSelector.leftLabel::after,
.gearPanel div.discreteSelector.leftLabel::after,
.gearPanel div.nodeSelector .leftLabel::after {
	margin-right: 0.5em;
}

.gearPanel div.nodeSelector span.button {
	font-size: 0.7rem;
	background: linear-gradient(0deg, hsla(188,98%,25%,1), hsla(188,98%,50%,1));
	padding: 0.2em 0.4em;
}

#row_dendro_canvas, #column_dendro_canvas{
	position: absolute;
}

#summary_chm {
    width: 100%;
    height: 100%;
    min-height: 50px;
    max-height: 100%;
    min-width: 100px;
    vertical-align:top;
    margin-left: 3px;
    display:inline-block;
    position:relative;
}

.summary_canvas {
	position:absolute;
	zIndex:1;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}

#summary_box_canvas {
	position:absolute;
	pointer-events: none;
}

#detail_box_canvas {
	position:absolute;
	pointer-events: none;
}

.selection_canvas{
	position: absolute;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	z-index: 9999;
}

#classBarLabels{
	height:95%;
	width:95%;
	pointer-events:none;
}

#detail_chm {
    width: 100%;
    height: 100%;
    min-height: 50px;
    max-height: 100%;
    min-width: 100px;
    vertical-align:top;
    display:inline-block;
}

#detail_canvas {
	position:absolute;
	height:82%;
	zIndex:1;
	outline: none;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}

#detail_buttons {
}

#top_buttons {
	margin-left:auto;
}

#bottom_buttons{
	display: block;
	margin-top: 2px;
}

#settings_buttons{
	display:inline;
	margin-top:auto;
	margin-bottom:auto;
	margin-right:0px;
}

#flicks{
	display:inline-block;
}

#pdf_gear{
	display: inline-block;
	top: 0px;
	position: absolute;
	right: 60px;
}

#helptext {
    margin: 5px !important;
    padding: 10px 10px 10px 10px !important;
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    font-size: 0.90rem !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: #000000;
    min-width: 100px;
    z-index: 10000;
    text-align: center;
    box-shadow: 5px 5px 5px #777777;
    position: absolute;
}

#helpprefs {
    margin: 5px !important;
    padding: 8px 8px 8px 8px !important;
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    font-size: 0.90rem !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: #000000;
    z-index: 10000;
    text-align: center;
    height: auto;
    width: auto;
    box-shadow: 5px 5px 5px #777777;
    white-space: nowrap;
}

.input-color {
    position: relative;
}
.input-color input {
    padding-left: 0px;
}
.input-color .color-box {
    width: 30px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: -8px;
    top: -8px;
}

.chmTblRow {
	display: table-row;
    height: 0px;
	padding: 0px;
    font-size: 0.80rem !important;
    font-family: Arial;
    font-weight: normal;
    color: #0843c1;
    vertical-align: middle;
    text-align: left;
}

.chmHdrRow tr {
	display: none;
    height: 0px;
	padding: 0px;
    font-size: 0.80rem !important;
    font-family: Arial;
    font-weight: normal;
    color: #0843c1;
    vertical-align: middle;
}

.chmHdrRow td {
	font-size: 0.80rem !important;
    font-family: Arial;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0843c1;
}

.chmTblCell {
	padding: 5px;
}


.searchItem{
	background-color: yellow;
}

.DynamicLabel{
	position: absolute;
	overflow: hidden;
	text-overflow:ellipsis;
    height: auto;
    width: auto;
    white-space: nowrap;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.topItems{
	position: absolute;
	display:inline-table;
	font-size: 8;
	margin: 1px;
}

.classLegend{
	position: absolute;
	display:block;
	font-size: 6;
	margin: 0px;
}

.classLabel{
	position: absolute;
	display:block;
	font-size: 10;
    font-weight: bold;
	margin: 0px;
}

.classLabelVertical{
	position: absolute;
	display:block;
	font-size: 10;
    font-weight: bold;
	margin: 0px;
	transform: rotate(90deg);
	transform-origin: top left;
}

#searchError{
	border: 1px solid #1a1a1a;
    border-radius: 10px;
    font-size: 0.90rem !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: red;
    position: absolute;
    width: 180px;
    z-index:10;
    text-align: center;
    box-shadow: 5px 5px 5px #777777;
}

.labelMenu{
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    font-size: 0.90rem !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: #000000;
    width: 240px;
    text-align: center;
    box-shadow: 5px 5px 5px #777777;
    position:relative;
    z-index: 100;
}

.labelMenuCaption{
	padding: .4em 1em;
	background: #0843c1;
	color: #ffffff;
	font-size: 0.90rem !important;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.labelMenuClose{
	position: absolute;
	clear: both;
	right: 2px;
	bottom:2px;
}

.labelMenuHeader tr{
	padding: 4em 1em;
	position:relative;
	margin: 0px 0px 0px 0px;
	background: #f8f3f1; 
	color: #0843c1;
	text-align: left;
	font-size: 0.90rem !important;
    font-family: Arial;
    font-weight: normal;
	border-radius: 10px;
}

.labelMenuBody tr{
	height: 20px;
}
.labelMenuBody td{
	height:20px;
	position: absolute;
	font-size: 0.80rem !important;
    font-family: Arial;
    font-weight: normal;
    color: #0843c1;
    cursor: pointer;
}

.labelMenuBody td:hover{
	font-weight: bold;
}

td.unclickable{
	color: grey;
	cursor: default;
}

.presetPalette{
	height:20px;
	width:90px;
}

.presetPaletteMissingColor{
	height:20px;
	width:10px;
	margin-right:10px;
	margin-left: 2px;
}

table.breakpointContainer {
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
}

td.breakpointContainer
th.breakpointContainer {
    text-align: center;
    margin: 0px;
    padding: 0px 5px 0px 0px;
    border-spacing: 0px;
    border-collapse: collapse;    
}

#linkTabButtons {
	text-align: left;
}

#prefTabButtons, #linkTabButtons {
	vertical-align: top;
	border-bottom-width: 2px;
	border-bottom-color: #0843c1;
	border-bottom-style: solid;
}

#prefs {
	height: 100%;
	width: 420px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	background-color: #CBDBF6; 
	border-left: 1px solid black; 
	border-right: 1px solid black; 
	z-index: 10000;
}

#prefTabButtons {
	vertical-align: top;
	border-bottom-width: 2px;
	border-bottom-color: #0843c1;
	border-bottom-style: solid;
}

#linkBoxTxt, #linkBoxAllTxt {
	font-size: 12px;
	background-color: #FFFFFF;
	overflow-y: auto;
}

#linkBoxFoot {
	padding: 1em 0em 1em 1em;
	text-align: left;
}

#linkBoxButton img,
#linkTabButtons img,
#prefTabButtons img {
	vertical-align: top;
	margin-left: 0.25em;
}

#prefPrefs {
	position: relative;
    display: inline-block;
    height: 88%;
    overflow: auto;
    overflow-x: hidden;
}

#prefActions {
	position: absolute;
	bottom: 1em;
	width: 100%;
	background-color: #CBDBF6; 
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    color: red;
}

#pdfPrefs, #msgBox, #linkBox {
	position: absolute;
	margin: 5px !important;
    top: 10%;
    left: 35%;
    padding: 2px 2px 2px 2px !important;
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    font-size: 0.90rem !important;
    font-family: Arial;
    font-weight: normal;
    background: #dddddd;
    color: #000000;
    z-index: 10000;
    text-align: center;
    box-shadow: 5px 5px 5px #777777;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: left;
}
#msgBoxTxt {
    box-sizing: border-box
}

.msgBoxButton {
	vertical-align: top;
	display: inherit;
}

#linkBox {
	display: flex;
	flex-direction: column;
	width: 800px !important;
	max-height: calc(100vh - 16px);
}

#msgBox p {
    white-space: normal;
}

#pdfPrefs {
    display: flex;
    flex-direction: column;
    background-color: rgb(203, 219, 246);
}

#prefsHdr, #pdfPrefsHdr, #msgBoxHdr, #linkBoxHdr{
	cursor: move;
    display: table;
    font-size: 18px;
    font-weight: bold;
    color: #0843c1;
    margin: auto;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #CBD1EA;
}

#prefsMove_btn, #redX_btn {
	cursor: default;
}

#pdfPrefsHdr, #msgBoxHdr, #linkBoxHdr{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.prefSubPanel{
	vertical-align: top;
	height: 99%;
	background-color: #CBDBF6; 
    display: none;
    overflow: hidden;
    border: 2px solid #CBDBF6;
}


.hide {
	display: none !important;
}

table.helpTable { 
  border-collapse: collapse; 
  width: 0.90rem;
}
  
table.helpTable td, 
table.helpTable th { 
  border: 1px solid black;
  padding: 5px; 
  color: black;
}

#colorMenu_btn {
	right: 30px;
	top: 0px;
    position: absolute;
}

.farRightButton {
	right: 0px;
	top: 0px;
    position: absolute;
}

.tdTop {
    vertical-align: text-top;
}

.tdTop img {
	vertical-align: top;
}

.editableText_btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 7px 10px;
    border: 0px solid #2b27a1;
    border-radius: 35px;
    background: #2525f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#2525f5), to(#000326));
    background: -moz-linear-gradient(top, #2525f5, #000326);
    background: linear-gradient(to bottom, #2525f5, #000326);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 12px arial;
    color: #ffffff;
    text-decoration: none;
}
.editableText_btn:focus { outline: none; }

.NGCHMEmbedWrapper {
  position: relative;
}

.NGCHMEmbedWrapper:hover .NGCHMEmbedOverlay {
  opacity: .75;
}

#NGCHMEmbedCollapse {
  display: flex;
}

#NGCHMEmbedCollapse>div {
  min-width: 0; 
}

#NGCHMEmbedCollapse>div>img {
  max-width: 100%;
  height: auto;
}

#NGCHMEmbedButton {
  display: block;
  height: 100%;
  width: 100%;
}

.NGCHMEmbedOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D3D3D3;
}

#NGCHMEmbedOverText {
  color: blue;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#bubbleHelp {
    margin: 5px !important;
    padding: 5px 10px 5px 10px !important;
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    font-size: 0.90rem !important;
    font-family: Arial;
    font-weight: normal;
    background: #ffffed;
    color: #000000;
    min-width: 30px;
    z-index: 10000;
    text-align: left;
    box-shadow: 5px 5px 5px #777777;
    position: absolute;
}

p.boxCaption {
	font-weight: bold;
	padding: 0.5em;
	margin: 0em;
	color: #0843c1;
	width: calc(100% - 1em);
	white-space: normal;
	text-align: left;
}

div.linkouts {
        width: 100%;
        height: calc(100% - 28px);
}

iframe {
        width: 100%;
        height: 100%;
        border: none;
}

iframe.nopointer {
        pointer-events: none;
}

.dblSpace {
 margin-left: 1em
}

.tab {
 margin-left: 2em
}

.divTable {
    display: table;
}
.divRow  {
    display: table-row;
    padding-bottom: 3px;
    height: 17px;
}
.divLeft {
    display: table-cell;
    padding-right: 10px;
}
.divRight {
    display: table-cell;
    padding-right: 10px;
}
.divMiddle {
    display: table-cell;
    padding-right: 10px;
}
.divLeft p, .divRight p, .divMiddle p {
    margin: 1px 1px;
}

 .dropDownCheckBoxes {
  	width:250px;
      display: none;
      border: 1px #DADADA solid;
      font-size:13px;
  	overflow-y:auto; 
  	z-index:100;
  	position:absolute;
  	background-color: white;
  }
  .dropDownCheckBoxes label {
      display: block;
  }
  .dropDownCheckBoxes label:hover {
      background-color: #CBDBF6;
  }
  
  .dropDownMultiSelect {
      width: 140px;
      float: left;
      vertical-align: bottom;
  }
  
  .dropDownSelectBox {
      position: relative;
  }
  
  .dropDownSelectBox select {
      width: 100%;
      font-size:11px;
      height:21px;
      padding-top:2px;
      padding-bottom:4px;
  }

  .dropDownOverSelect {
      position: absolute;
      left: 0; right: 0; top: 0; bottom: 0;
  }
  
  .srchCovCheckBox {
  	margin: 2px;
  	font-size: 8px;
  }
  
  .srchSelect {
  	vertical-align:bottom;
  	font-size: 12px;
  	height:20px;
  }  

  .srchText {
 	vertical-align:bottom;
  	font-size: 12px;
    width: 140px;
  }  
 
/* Used to add a little space in SPANs 
   for prettier format of gear dialog*/ 
.gear-menu-spacing{
	margin-left: 5%;
}

/* Help Question marks. These are anchors in the HTML, and when
   a user hovers over them, a help message is diplayed */
.helpQuestionMark {
	content: url('../images/questionMark.png'); 
	height: 15px;
	width: 15px;
}


/* For the checkboxes for choosing discrete covariates in Gear Dialog */
.gear-dialog-dropDownCheckBoxes-inline {
	margin-top: 0em !important;
	border: 1px #DADADA solid;
	background-color: white;
	height: 100px;
	overflow: scroll;
}

.gear-dialog-dropDownCheckBoxes-inline label {
	display: block;
	position: relative;
	overscroll-behavior: contain;
	z-index: 11000;
}

.gear-dialog-dropDownCheckBoxes-inline label:hover {
	background-color: #CBDBF6;
}


